<h2> USERS#SHOW </h2>

<%= button_to 'Enter Measurements', new_user_path %>
<%= button_to 'Upload Picture', new_user_path %>
<%= button_to 'View My Clothing', users_path %>
<%= button_to 'Sign Out', @user, method: :delete %>