<h2> User lobby </h2>

<%= link_to 'Enter Measurements', new_shirt_path, class: 'button' %>
<%= link_to 'Upload a picture', new_shirt_path, class: 'button' %>
<%= link_to 'View My Clothing', shirts_path, class: 'button' %>
<%= button_to 'Sign Out', @user, method: :delete %>